@media(min-width: 960px) {
.card-img-top-wrapper {
    height: 400px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

}
.card-img-top {
    object-fit: fill;
    width: 100%;
    height: 100%;
}
.card-body {
    display: flex;
    flex-direction: column;
}
}
.card-title {
    flex-grow: 1;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
#mainBody {
    padding-top: 65px;
}